# Find Constant K

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [2]:
vt_dataframe = pd.read_csv('../data_vt/vt_dataset_rev.csv')
vt_dataframe.head()

    Vds  Vgs           Ids   W  L   T
0   0.1  1.0  2.555900e-08  10  5  25
1   1.0  0.6  2.024900e-08  10  5  25
2   5.0  0.6  2.271600e-08  10  5  25
3  10.0  0.6  2.948200e-08  10  5  25
4  20.0  0.4  2.438200e-08  10  5  25

## 1) Fix (Vds, W, L, T) and find K

For example, let's fix (Vds, W, L, T) as (0.1,10,5,25) and (1.0,10,5,25)

In [3]:
# load data W=10,L=5,T=25
sample_df = pd.read_csv('../data/W10L5T25.csv')
sample_df.head()

   Vds   Vgs           Ids   W  L   T
0  0.1 -20.0  7.510100e-14  10  5  25
1  0.1 -19.8  7.510100e-14  10  5  25
2  0.1 -19.6  7.510100e-14  10  5  25
3  0.1 -19.4  7.510100e-14  10  5  25
4  0.1 -19.2  7.510100e-14  10  5  25

In [11]:
# get vds=1.0
sample_vds_1_df = sample_df.query('Vds=='+str(1.0))
print(sample_vds_1_df.query('Vgs==1.0'))

     Vds  Vgs           Ids   W  L   T
306  1.0  1.0  1.159100e-07  10  5  25

Vds Vgs(Vt) Ids         W   L   T\
1.0	0.6	2.024900e-08	10	5	25\
Ids = K * (W/L) [(Vgs-Vt)*Vds - 1/2*Vds^2]

In [6]:
def calculate_k(vds, vgs, vt, ids, width, length, temperature):
    k = ids*length/width
    temp = (vgs-vt)*vds-1/2*(vds**2)
    k = k/temp
    return k

In [7]:
calculate_k(vds=1.0, vgs=20.0, vt=0.6, ids=4.825100e-05, width=10, length=5, temperature=25)

1.2764814814814817e-06

In [8]:
calculate_k(vds=1.0, vgs=19.8, vt=0.6, ids=4.776300e-05, width=10, length=5, temperature=25)

1.2770855614973263e-06

In [9]:
calculate_k(vds=1.0, vgs=-20.0, vt=0.6, ids=7.666600e-14, width=10, length=5, temperature=25)

-1.816729857819905e-15

In [12]:
calculate_k(vds=1.0, vgs=1.0, vt=0.6, ids=1.159100e-07, width=10, length=5, temperature=25)

-5.795500000000001e-07